@model OnlineVideoCourseWebsite.Models.ViewModels.UserViewModel

@{
	ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.FullName" class="control-label"></label>
                <input asp-for="User.FullName" class="form-control" />
                <span asp-validation-for="User.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Description" class="control-label"></label>
                <input asp-for="User.Description" class="form-control" />
                <span asp-validation-for="User.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Thumbnail" class="control-label"></label>
                <input asp-for="User.Thumbnail" class="form-control" />
                <span asp-validation-for="User.Thumbnail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Id" class="control-label"></label>
                <input asp-for="User.Id" class="form-control" />
                <span asp-validation-for="User.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.UserName" class="control-label"></label>
                <input asp-for="User.UserName" class="form-control" />
                <span asp-validation-for="User.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.NormalizedUserName" class="control-label"></label>
                <input asp-for="User.NormalizedUserName" class="form-control" />
                <span asp-validation-for="User.NormalizedUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.NormalizedEmail" class="control-label"></label>
                <input asp-for="User.NormalizedEmail" class="form-control" />
                <span asp-validation-for="User.NormalizedEmail" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="User.EmailConfirmed" /> @Html.DisplayNameFor(model => model.User.EmailConfirmed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="User.PasswordHash" class="control-label"></label>
                <input asp-for="User.PasswordHash" class="form-control" />
                <span asp-validation-for="User.PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.SecurityStamp" class="control-label"></label>
                <input asp-for="User.SecurityStamp" class="form-control" />
                <span asp-validation-for="User.SecurityStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.ConcurrencyStamp" class="control-label"></label>
                <input asp-for="User.ConcurrencyStamp" class="form-control" />
                <span asp-validation-for="User.ConcurrencyStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.PhoneNumber" class="control-label"></label>
                <input asp-for="User.PhoneNumber" class="form-control" />
                <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="User.PhoneNumberConfirmed" /> @Html.DisplayNameFor(model => model.User.PhoneNumberConfirmed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="User.TwoFactorEnabled" /> @Html.DisplayNameFor(model => model.User.TwoFactorEnabled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="User.LockoutEnd" class="control-label"></label>
                <input asp-for="User.LockoutEnd" class="form-control" />
                <span asp-validation-for="User.LockoutEnd" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="User.LockoutEnabled" /> @Html.DisplayNameFor(model => model.User.LockoutEnabled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="User.AccessFailedCount" class="control-label"></label>
                <input asp-for="User.AccessFailedCount" class="form-control" />
                <span asp-validation-for="User.AccessFailedCount" class="text-danger"></span>
            </div>
            	<div class="form-group">
				<label asp-for="Role" class="control-label"></label>
				<select asp-for="Role" class="form-control" asp-items="ViewBag.Roles"></select>
				<span asp-validation-for="Role" class="text-danger"></span>
			</div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
