@page
@model IndexModel
@{
	ViewData["Title"] = "Profile";
	ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
	<div class="card text-center" style="width: 18rem;">
		<img src="@Model.Input.Thumbnail" class="img-thumbnail" alt="Thumbnail">
		<div class="card-body">
			<h5 class="card-title">Avatar</h5>
		</div>
	</div>

	<div class="col-md-6">
		<form id="profile-form" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-floating">
				<input asp-for="Input.Thumbnail" class="form-control" />
				<label asp-for="Input.Thumbnail" class="form-label">Avatar</label>
				<span asp-validation-for="Input.Thumbnail" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<input asp-for="Username" class="form-control" disabled />
				<label asp-for="Username" class="form-label"></label>
			</div>
			<div class="form-floating">
				<input asp-for="Input.FullName" class="form-control" />
				<label asp-for="Input.FullName" class="form-label"></label>
				<span asp-validation-for="Input.FullName" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<input asp-for="Input.PhoneNumber" class="form-control" />
				<label asp-for="Input.PhoneNumber" class="form-label"></label>
				<span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
			</div>
			<button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
		</form>
	</div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
